.home__hero-section {
  /* color: #f7f8fa; */
  margin: 164px 0;
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  align-items: stretch;
  flex: wrap;
}

.col {
  flex: 1;
  flex-basis: 50%;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 55px;
  max-width: 50%;
  /* background-color: lightcoral; */
}

.col-1 {
  margin-top: 45px;
  margin-right: 15px;
  /* margin-left: 0px; */
}

.col-2 {
  margin-top: 30px;
}
.home__hero-text-wrapper {
  max-width: 540px;
  padding: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.heading {
  margin-bottom: 24px;
  line-height: 1.1;
  font-size: 48px;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: #1c2237;
}


.darkBg {
  background-color: #1c2237;
  /* color: #fff; */
  /* padding: 164px 0; */
}

/* .home__hero-subtitle.dark {
  color: #1c2237;
} */

.home__hero-subtitle {
  line-height: 24px;
  max-width: 440px;
  font-size: 18px;
  margin-bottom: 35px;
  color: #143f94;
  padding: 0;
}

.home__hero-img-wrapper {
  max-width: 100%;
}

.home__hero-img {
  max-width: 90%;
  padding: 0;
  margin: 0 0 0 0;
}

img {
  max-width: 90%;
  border: 0;
  vertical-align: middle;
  display: inline-block;
}
